/* Global Styles */
* {
    margin: 0;
    padding: 0;
}

.container {
    margin: 1.5em;
}

#hamburger-checkbox, .hamburger-button {
    display: none;
}

@media screen and (min-width: 850px) {

    /* Hamburger Menu styles (WIP)*/
    #hamburger-checkbox {
        display: none;
    }

    .hamburger-button {
        display: inline;
    }

    label {
        float: right;
    }

    .menu-wrap {
        height: 4em;
    }

    nav ul {
        list-style-type: none;
        background-color: #f1d4c8;
        margin: -.5em;
        max-height: 0;
        overflow: hidden;
    }

    #hamburger-checkbox:checked ~ ul {
        max-height: 15em;
    }

    nav ul li a {
        text-decoration: none;
        font-size: 1.25em;
        display: block;
    }

}

/* Grid Section Styles */
.hero-image, .navigation, .tagline, .main-content, .logos, .inspirationals, .footer-section, .contact-info, .socials {
    padding: 1em;
    color: white;
}

.hero-image {
    background-color: #f6b4c3;
}

.navigation {
    background-color: #f1d4c8;
}

.tagline {
    background-color: #bc789e;
    text-align: center;
    padding-top: 12.5%;
}

.main-content {
    background-color: #c3bad6;
}

.logos {
    background-color: #c9ddd5;
} 

.inspirationals {
    background-color: #f5a2a2;
} 

.footer-section {
    background-color: #bc789e;
} 

.contact-info {
    background-color: #f9d4a4;
}

.socials {
    background-color: #89c4c2;
}

/* Image and main-item styles */

.main-content .main-item {
    display: flex;
    clear: both;
}

.main-content .main-item img {
    width: 20em;
    margin: 2em 4em 2em;
}

.main-content .main-item:nth-of-type(even) {
    flex-flow: row-reverse nowrap;
}

.main-content .main-item p {
    width: 20em;
    margin: 2em 0 2em 4em;
    max-height: 20em;
    text-align: right;
}

.main-content .main-item:nth-of-type(odd) p {
    float: right;
    margin: 2em 4em 2em 0;
    width: 20em;
    max-height: 20em;
    text-align: left;
}