/* Color Scheme: 
    #9C50F8/#8524fc: NEON PURPLE
    #dfb5a9: PALE PINK (FONT COLOR OPTION)
    #88fff9/#24fcfc: ELECTRIC BLUE (BEST FOR ACCENTS AND "SHADOWS")
    #B4EDD2: MINT (BEST FOR FONT-COLOR)
    #0D1821: SLATE GRAY/NEAR BLACK (OVERALL BACKGROUND COLOR)
    #2318c0: SPACE VIOLET (GOOD BACKGROUND OPTION)
    #114b63: DEEP-SEA BLUE (GOOD DARK-BLUE COLOR OPTION)
*/

/* Global Styles */
* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

.navigation, .tagline, .main-content, .logos, .resume, .footer-section, .contact-info {
    padding: 1em;
    color: white;
}

.container {
    background-color: #0D1821;
    font-family:  'Josefin Sans', Helvetica, sans-serif;
}


/* Mobile First styles */
/* THESE ARE OVERALL STYLES THAT ARE EITHER APPLICABLE ON ALL VIEWPORTS, BEST LAID OUT FOR TABLET VIEWPORTS. */


.navigation {
    background-color: #0D1821;
    position: fixed;
    width: 97%;
    top: 0;
    left: 0;
    height: 4em;
    z-index: 2000;
}

h1 {
    display: inline-block;
    font-family: 'Play', Arial, fantasy;
    font-size: 2em;
    text-shadow: 2px 2px 8px #88fff9, -2px -2px 8px #24fcfc;
    padding: .25em .5em 0;
}

#hamburger-checkbox {
    display: none;
}

#hamburger-button {
    display: none;
}

nav label {
    float: left;
}

nav ul {
    list-style-type: none;
    background-color: #0D1821;
    margin: .5em;
    /* Styles for Drop Down Menu */
    position: absolute;
    right: 10px;
    top: 2em;
}

nav ul li {
    display: inline;
}

nav ul li a {
    text-decoration: none;
    font-size: 1.2em;
    color: #9C50F8; 
    padding: .5em;
}

nav ul li a:hover,
nav ul li a:active {
    color: #B4EDD2;
    text-shadow: 2px 2px 5px #88fff9, -2px -2px 5px #24fcfc, 2px -2px 5px #24fcfc, -2px 2px 5px #24fcfc;
}

.hero-image {
    overflow: hidden;
}

.hero-image video {
    width: 400%;
    position: relative;
    left: -150%;
    max-height: 104%;
    z-index: -1000;
}

.tagline {
    background-color: rgba(13,24,33,0.7);
    text-align: center;
}

.tagline img {
    display: none;
}

.tagline h1 {
    font-size: 24pt;
    padding-bottom: 0.5em;
    margin-top: 0.2em;
}

h3 {
    display: block;
    font-size: 20pt;
    text-align: center;
    text-shadow: 2px 2px 8px #88fff9, -2px -2px 8px #24fcfc;
    color: #B4EDD2;
    margin: 1em;
}

h3::before {
    display: block;
    content: " ";
    margin-top: -6em;
    height: 6em;
    visibility: hidden;
    pointer-events: none;
}

.main-content {
    background-image: linear-gradient(to bottom right, rgba(17,75,99, 1), rgba(17,75,99, 0.2));
}

.main-item {
    display: flex;
}

.main-item img {
    margin: 0 1em 2em;
}

.description h4 {
    padding-top: 3em;
    clear: right;
    align-items: flex-start;
}

.description p {
    padding-top: 1em;
    margin-bottom: 2em;
}

.logos {
    background-image: linear-gradient(to bottom right, rgba(133,36,252, 1), rgba(133,36,252, 0.2));
}

.logos h4 {
    text-align: center;
}

/* Slideshow styles within the Logos section */

.slideshow {
    position: relative;
    box-shadow: 2px 2px 5px #88fff9, -2px -2px 5px #24fcfc, 2px -2px 5px #24fcfc, -2px 2px 5px #24fcfc;
    background-image: linear-gradient(#222, #000);
    margin: 10px auto;
    min-width: 200px;
    height: 360px;
}

.slideshow-content {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.slideshow input {
    position: absolute;
    bottom: 15px;
    left: 50%;
    z-index: 1001;
    width: 9px;
    height: 9px;
    cursor: pointer;
    opacity: 0;
}

.slideshow input + label {
    position: absolute;
    bottom: 50px;
    left: 49%;
    border: 3px solid #fff;
    width: 9px;
    height: 9px;
    z-index: 1002;
    border-radius: 50%;
	display: block;
}

.slideshow input:checked + label {
    background-color: #fff;
}

.slide-selector-1, .btn-label-1 {
    margin-left: -18px;
}

.slide-selector-3, .btn-label-3 {
    margin-left: 18px;
}

.slideshow-slider {
    width: 300%;
    height: 70%;
    position: relative;
    left: 0;
    list-style: none;
    margin: 0;
    padding: 0;
    transition: left ease-in 0.8s;
}

.slideshow-slider > li {
    float: left;
    width: 33.3333%;
    text-align: center;
    height: 100%;
    box-sizing: border-box;
}

.slideshow-slider > li picture{
    display: block;
    margin: 0 auto;
    padding: 15px 0 50px 0;
}

input.slide-selector-2:checked ~ .slideshow-content .slideshow-slider {
    left: -100%;
}

input.slide-selector-3:checked ~ .slideshow-content .slideshow-slider {
    left: -200%;
}

.arrow {
    position: absolute;
    top: 50%;
    width: 28px;
    height: 38px;
    background: transparent url(../images/arrows.png) no-repeat;
    opacity: 0.8;
    z-index: 1000;
    margin: -19px;
    cursor: pointer;
    display: none;
    transition: opacity linear 0.3s;
}

.arrow:hover {
    opacity: 1;
}

.slide-selector-2:checked ~ .arrow.slide1,
.slide-selector-3:checked ~ .arrow.slide2 {
    display: block;
    left: 30px;
    background-position: top left;
}

.slide-selector-1:checked ~ .arrow.slide2,
.slide-selector-2:checked ~ .arrow.slide3 {
    display: block;
    right: 30px;
    background-position: top right;
}

.resume {
    background-image: url(../images/nebula-bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
}

.resume h3 {
    margin-top: 2em;
    color: #0D1821;
}

.resume div.inner-flex {
    display: flex;
    justify-content: center;

    margin-top: 5em;
}

.resume a.btn {
    background-image: linear-gradient(to bottom, rgb(133,36,252), rgb(95, 27, 179));
    padding: .8em;
    border-radius: 0.2em;
    text-decoration: none;
    color:#fff;
    justify-content: space-evenly;
}

.resume a:hover {
    box-shadow: 2px 2px 5px #88fff9, -2px -2px 5px #24fcfc, 2px -2px 5px #24fcfc, -2px 2px 5px #24fcfc;
}

.resume p {
    display: none;
}

.footer-section {
    background-image: linear-gradient(to bottom right, rgba(17,75,99, 1), rgba(17,75,99, 0.2));
} 

.contact-info {
    margin-top: 7em;
}

.contact-info ul {
    list-style-type: none;
}

.contact-info ul li {
    padding: 1em 0;
    text-align: center;
    font-size: 1.2em;
}

.contact-info ul li a {
    text-decoration: none;
    color: #9C50F8; 
}

.contact-info ul li a:hover,
.contact-info ul li a:active {
    color: #B4EDD2;
    text-shadow: 2px 2px 5px #88fff9, -2px -2px 5px #24fcfc, 2px -2px 5px #24fcfc, -2px 2px 5px #24fcfc;
}

/* Brief XS mobile layout to adjust certain displays */
@media screen and (max-width: 650px) {
    /*Main Item Adjustments */
    .main-item {
        display: inline;
        clear: both;
    }

    .main-item img {
        margin: 0 1em;
    }

    /* Slideshow adjustments */

    .slideshow {
        height: 325px;
    }
    .slideshow input + label {
        left: 47.5%;
    }
}

/* Small mobile layout styles */

@media screen and (max-width: 850px) {
    nav h1 {
        font-size: 1.5em;
        text-align: center;
        max-width: 70%;
        padding-top: .6em;
    }
    
    #hamburger-button {
        display: inline;
    }    
    
    nav ul {
        margin: .5em;
        max-height: 0;
        overflow: hidden;
        /* Styles for Drop Down Menu */
        position: absolute;
        width: 100%;
        left: -1em;
        top: 5em;
        transition: .8s;
        
    }

    #hamburger-checkbox:checked ~ nav ul {
        max-height: 15em;
        padding-left: 2.5em;
    }

    nav ul li a {
        text-decoration: none;
        font-size: 1.5em;
        display: block;
        color: #9C50F8; /* Temporary color until color scheme is imported */
        padding: .5em;
    }

    .tagline h1 {
        font-size: 22pt;
    }

    .tagline h2 {
        font-size: 16pt;
    }

    .resume h3 {
        margin-top: 3em;
    }
}

/* Desktop styles */

@media screen and (min-width: 970px) {
    
    .container {
        margin: 1.5em;
    }
    
    .hero-image video {
        width: 200%;
        max-height: 200%;
        left: -50%;
    }
    
    .tagline {
        margin: -2em 0;
    }
     
    .tagline img {
        display: inline;
        margin: 1em 8px 8px;
    }

    .tagline h1 {
        margin: 0;
        display: block;
    }

    .navigation {
        width: 100%;
    }

    nav h1 {
        font-size: 2em;
        margin-left: 1.5em;
        margin-top: .25em;
        padding: 0;
    }

    nav ul {
        text-align: right;
        padding-right: 3em;
        max-height: 3em;
        position: relative;
        float: right;
        margin-left: 0.8em;
        margin-top: 1.25em;
        /* Counter-styles to remove Drop-Down Menu spacing and function */
        width: auto;
        left: 0;
        top: 0;
        transition: 0s;
    }

    nav ul li {
        display: inline-block;
        margin: 0 1em;
    }

    nav ul li a {
        font-size: 1.25em;
        padding: 0;
    }
        
    .main-content .main-item img {
        width: 20em;
        margin: 2em 4em 2em;
    }
    
    .main-item:nth-of-type(even) {
        flex-flow: row-reverse nowrap;
    }
    
    .main-item .description{
        width: 20em;
        margin: 2em 0 2em 4em;
        max-height: 20em;
        text-align: right;
    }
    
    .main-item:nth-of-type(odd) .description {
        float: right;
        margin: 2em 4em 2em 0;
        width: 20em;
        max-height: 20em;
        text-align: left;
    }

    .slideshow {
        height: 375px;
    }

    .resume h3 {
        margin-top: 5em;
    }

    .contact-info {
        margin-top: 5em;
    }
    .contact-info ul li {
        padding: .6em 0;
    }
    
    /* Hamburger Menu Styles */
    
    #hamburger-checkbox, #hamburger-button > img {
        display: none;
    }
}