/* Global Styles */
* {
    margin: 0;
    padding: 0;
}

.hero-image, .navigation, .tagline, .main-content, .logos, .inspirationals, .footer-section, .contact-info, .socials {
    padding: 1em;
    color: white;
}

/* Mobile First styles */

.hero-image {
    background-color: #f6b4c3;
}

.navigation {
    background-color: #f1d4c8;
    position: fixed;
    width: 97%;
    top: 0;
    left: 0;
    height: 4em;
}

h1 {
    display: inline-block; 
    font-size: 2em;
    padding: .5em .25em 0;
}

#hamburger-checkbox {
    display: none;
}

#hamburger-button {
    display: inline;
}

label {
    float: left;
}

nav ul {
    list-style-type: none;
    background-color: #f1d4c8;
    margin: .5em;
    max-height: 0;
    overflow: hidden;
    /* Styles for Drop Down Menu */
    position: absolute;
    width: 100%;
    left: -1em;
    top: 5em;
    transition: .8s;

}

#hamburger-checkbox:checked ~ nav ul {
    max-height: 15em;
    padding-left: 2.5em;

}

nav ul li a {
    text-decoration: none;
    font-size: 1.5em;
    display: block;
    color: #8a64d6; /* Temporary color until color scheme is imported */
    padding: .5em;
}

.tagline {
    background-color: #bc789e;
    text-align: center;
    padding-top: 12.5%;
}

.main-content {
    background-color: #c3bad6;
}

.logos {
    background-color: #c9ddd5;
} 

.inspirationals {
    background-color: #f5a2a2;
} 

.footer-section {
    background-color: #bc789e;
} 

.contact-info {
    background-color: #f9d4a4;
}

.socials {
    background-color: #89c4c2;
}

/* Small mobile layout styles */

@media screen and (max-width: 600px) {
    nav h1 {
        font-size: 1.5em;
        text-align: center;
        max-width: 70%;
    }
}

@media screen and (min-width: 950px) {
    
    .container {
        margin: 1.5em;
    }
    
    .hero-image {
        margin: 0 -1.5em;
    }
    
    /* Desktop Navigation styles */
    
    .navigation {
        width: 100%;
    }

    h1 {
        font-size: 1.5em;
        margin-left: 2em;
        margin-top: .75em;
        padding: 0;
    }

    nav ul {
        text-align: right;
        padding-right: 3em;
        max-height: 3em;
        position: relative;
        float: right;
        margin-left: 2em;
        margin-top: 1.25em;
        /* Counter-styles to remove Drop-Down Menu spacing and function */
        width: auto;
        left: 0;
        top: 0;
        transition: 0s;
    }

    nav ul li {
        display: inline-block;
        margin: 0 1em;
    }

    nav ul li a {
        font-size: 1.25em;
        padding: 0;
    }
    
    /* Hamburger Menu styles (WIP)*/
    
    #hamburger-checkbox, #hamburger-button > img {
        display: none;
    }
    
    /* Image and main-item styles */

    .main-content .main-item {
        display: flex;
        clear: both;
    }

    .main-content .main-item img {
        width: 20em;
        margin: 2em 4em 2em;
    }

    .main-content .main-item:nth-of-type(even) {
        flex-flow: row-reverse nowrap;
    }

    .main-content .main-item p {
        width: 20em;
        margin: 2em 0 2em 4em;
        max-height: 20em;
        text-align: right;
    }

    .main-content .main-item:nth-of-type(odd) p {
        float: right;
        margin: 2em 4em 2em 0;
        width: 20em;
        max-height: 20em;
        text-align: left;
    }


        
}